/* Colors */
$dark: #151515;
$dark-translucid: #151515cd;
$light: #fbfbfb; 
$neutral: #cbcbcb;

/* Fonts */
$main-font: 'Assistant', sans-serif;

/* Breakpoints */
$breakpoint-md: 600px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1536px;

